<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>isostagram</h1>
    </header>

    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="upload-area">
            <i class="fas fa-cloud-upload-alt"></i>
            <p>コメント投稿</p>
        </div>

        <div class="upload-area">
            <p>
                <img src="20240111154934.jpg" alt="外部の画像">
            </p>
        </div>

        <table border="1">
            <tr>
                <th>名前</th>
                <th>コメント</th>
            </tr>
            {% for line in lines %}
            {% set column = line.rstrip().split(',') %}
            <tr>
                <td>{{ column[0] }}</td>
                <td>{{ column[1] }}</td>
            </tr>
            {% endfor %}
        </table>

        <dl class="thread" style="margin-top: 0px;">
            <dd title="" style="">
                <form method="POST" action="../test/bbs.cgi">
                    <input type="hidden" name="bbs" value="be">
                    <input type="hidden" name="key" value="1546275516">
                    <input type="hidden" name="time" value="1702989027">
                    <label>名前：<input name="FROM" size="19"></label>
                    <br><textarea rows="8" cols="70" wrap="ON" name="MESSAGE"></textarea>
                </form>
            </dd>

            <div id="fb-root"></div>
      

            <form action="/">
                <button class="btn">投稿</button>
            </form>

            <ul>
                <li><a class="active" href="/">ホーム</a></li>
                <li><a href="/upload">投稿(アップロード)</a></li>
            </ul>
        </dl>
    </form>
</body>


</html>
