<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='design4.css') }}">
    <title></title>
</head>

<script>
    let counter, btnAdd;
    let n;

    function addCount() {
        n++;
        counter.innerHTML = n;

        // カウントが増えたらサーバーサイドに送信
        fetch('/update_count', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ count: n }),
        });
    }

    window.addEventListener("load", () => {
        // 起動時の処理
        counter = document.getElementById("counter");
        btnAdd = document.getElementById("btnAdd");
        n = 0;
        btnAdd.addEventListener("click", addCount);
    });
</script>

<body>
    <header>
        <h1>isostagram</h1>
        {% set column = lines[0].rstrip().split(',') %}
        <p>{{column[3]}}</p>
        <img src="{{ url_for('static', filename='image_file/' + image) }}" width="25%" height="225">
        <p id="counter">いいね数：{{column[2]}}</p>
        <p><input type="button" id="btnAdd" value="+"></p>
    </header>

    <form action="/result" method="POST" enctype="multipart/form-data">
        <div class="upload-area">
            <i class="fas fa-cloud-upload-alt"></i>
            <p>コメント投稿</p>

        </div>