<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>isostagram</title>

</head>

<body>
    <header>
        <h1>isostagram</h1>
    </header>
    <ul>
        {% for data in image_data %}
        <li>
            <a href="/contents">Name: {{ data['name'] }}</a>
            <img src="{{ url_for('static', filename='images/' + data['filename']) }}" width="100%" height="225"
                alt="{{ data['name'] }}">
        </li>
        <li><a class="active" href="#top_page">ホーム</a></li>
        <li><a href="/upload">投稿(アップロード)</a></li>
        {% endfor %}
    </ul>
    <li><a href="/upload">投稿(アップロード)</a></li>
</body>

</html>