<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>isostagram</title>

</head>
<body>
    <header>
        <h1>isostagram</h1>
    </header>
    <ul>
        {% for image in uplode_images %}
            <li>
                <a href="/templates/post.html">
                    <img src="{{ url_for('static', filename='uplode/' + image) }}" alt="{{ image }}">
                </a>
            </li>
            <a href="/templates/post.html">無題</a>

            {% if loop.index % 4 == 0 %}  
                <br>
            {% endif %}
        {% endfor %}
    </ul>
    <ul>
        <!-- <li><a class="active" href="#top_page">ホーム</a></li> -->
        <li><a href="/templates/upload.html">投稿(アップロード)</a></li>
        <!-- <li><a href="#sample2"></a></li>
        <li><a href="#sample3">Sample3</a></li> -->
    </ul>
</body>
</html>
