<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
</head>

<script>
    let counter, btnAdd;
    let n;

    function addCount() {
        n++;
        counter.innerHTML = n;

        // カウントが増えたらサーバーサイドに送信
        fetch('/update_count', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ count: n }),
        });
    }

    window.addEventListener("load", () => {
        // 起動時の処理
        counter = document.getElementById("counter");
        btnAdd = document.getElementById("btnAdd");
        n = 0;
        btnAdd.addEventListener("click", addCount);
    });
</script>

<body>
    <header>
        <h1>isostagram</h1>
    </header>
    <form action="/up" method="POST" enctype="multipart/form-data">

        <div class="upload-area">
            <i class="fas fa-cloud-upload-alt"></i>
            <p>投稿(アップロード)</p>
        </div>

        <div class="file-upload">
            <input type="file" name="upload_file" id="input-files">
<!--             <input type="file" name="upload_file" accept=".png, .jpg, .jpeg" required id="input-files"> -->
        </div>

        <label for="name">題名:</label>
        <input type="text" name="name" id="name" required><br>

        <label for="text-input">入力欄:</label>
        <textarea name="text_input" id="text-input" rows="4" cols="50"></textarea>
        <input type="submit" id="submit-btn" value="送信">

        <ul>
            <li><a href="contents">contents</a></li>
            <li><a class="active" href="/">ホーム</a></li>
        </ul>

    </form>
    <br>

    <p id="counter">{{ initial_count }}</p>
    <p><input type="button" id="btnAdd" value="+"></p>
</body>

</html>